@charset "UTF-8";
/*!
---------------------------------------------------------------------------
* Iván López Luna [Re]
---------------------------------------------------------------------------
*/
.container--BlockTitleAA {
    margin-top: 15px;
    margin-bottom: 15px;
}
.headingLevel1--BlockTitleAA {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
}
@media screen and (min-width: 640px) {
    .headingLevel1--BlockTitleAA {
        font-size: 36px;
        font-size: 2.25rem;
    }
}
@media screen and (max-width: 639px) {
    :global(.vtex-flex-layout-0-x-flexRow--BackgroundColorM) .headingLevel1--BlockTitleAA {
        color: white;
    }
}

@media screen and (min-width: 640px) {
    :global(.vtex-flex-layout-0-x-flexRow--MasonryAA_Wrapper) .headingLevel1--BlockTitleAA {
        display: none;
    }
}

.paragraph--BlockTitleAA {
    margin-top: 0px;
    margin-bottom: 0px;
}
