@charset "UTF-8";
/*!
---------------------------------------------------------------------------
* Iván López Luna [Re]
---------------------------------------------------------------------------
*/
.flexRow--ProductsSlider {
    padding-bottom: 1rem;
}
@media screen and (min-width: 640px) {
    .flexRow--ProductsSlider {
        padding-bottom: 2rem;
    }
}

@media screen and (min-width: 640px) {
    .flexCol--ProductsSlider {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.flexRow--MonsterBanner {
    padding-bottom: 15px;
    background-color: white;
}

.flexRow--SliderSingleAA {
    background-color: white;
}
@media screen and (max-width: 639px) {
    .flexRow--SliderSingleAA {
        padding: 15px;
    }
}
@media screen and (min-width: 640px) {
    .flexRow--SliderSingleAA.flexRow--SliderSingleAA--03 {
        margin-bottom: 2rem;
    }
}

.flexRow--BackgroundWhite {
    background-color: white;
}

@media screen and (max-width: 639px) {
    .flexRow--BackgroundColorM {
        padding-bottom: 15px;
        background-color: #5c1789;
    }
}
.stretchChildrenWidth {
    background: transparent;
}

@media screen and (min-width: 640px) {
    .flexRow--MasonryAA_Wrapper {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

.flexRowContent--MasonryAA {
    gap: 15px;
}

.flexCol--MasonryAA_ColumnIn02 {
    justify-content: space-between;
}
.flexColChild--MasonryAA_ColumnIn02 {
    height: auto !important;
}
