@charset "UTF-8";
/*!
---------------------------------------------------------------------------
* Iván López Luna [Re]
---------------------------------------------------------------------------
*/
.sliderLayoutContainer--MonsterBanner {
    padding-bottom: 20px;
    background-color: white;
    overflow: hidden;
}
@media screen and (min-width: 1024px) {
    .sliderLayoutContainer--MonsterBanner {
        margin: auto;
        overflow: initial;
    }
}
.sliderTrackContainer--MonsterBanner {
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1023px) {
    .sliderTrackContainer--MonsterBanner {
        overflow: visible;
    }
}

.imageElementLink--MonsterBanner {
    width: 100%;
    display: block;
}
.imageElement--MonsterBanner {
    width: 100%;
    display: block;
}

.sliderLayoutContainer--SliderSingle {
    padding-bottom: 0;
}

.imageElement--SliderSingle {
    display: block;
}

.sliderLayoutContainer--StoreAgreements {
    padding-bottom: 0;
}

.sliderTrack--CardsInRowAA {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.slide--CardsInRowAA {
    width: 50% !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}
@media screen and (min-width: 640px) {
    .slide--CardsInRowAA {
        width: 25% !important;
    }
}
.slideChildrenContainer--CardsInRowAA {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.infoCardContainer--CardsInRowAA {
    padding: 0;
    position: relative;
}

.infoCardTextContainer--CardsInRowAA {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.infoCardHeadline--CardsInRowAA {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.infoCardCallActionContainer--CardsInRowAA {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.infoCardCallActionContainer--CardsInRowAA :global(.vtex-button) {
    display: none;
}

.infoCardImageContainer--CardsInRowAA {
    width: 100%;
}
.infoCardImage--CardsInRowAA {
    width: 100%;
    display: block;
}

@media screen and (min-width: 640px) {
    .sliderLayoutContainer--CardsAA {
        padding-bottom: 0;
    }
}

.sliderTrack--CardsAA {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.slide--CardsAA {
    padding-left: 5px;
    padding-right: 5px;
}
.slideChildrenContainer--CardsAA {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.infoCardContainer--CardsAA {
    padding: 0;
    position: relative;
}

.infoCardTextContainer--CardsAA {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.infoCardHeadline--CardsAA {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.infoCardCallActionContainer--CardsAA {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
.infoCardCallActionContainer--CardsAA :global(.vtex-button) {
    display: none;
}

.infoCardImageContainer--CardsAA {
    width: 100%;
}
.infoCardImage--CardsAA {
    width: 100%;
    display: block;
}

.slide--MasonryAA_Card {
    padding-left: 0px;
    padding-right: 0px;
}

.sliderLayoutContainer--CardsInSliderAB {
    padding-bottom: 25px;
}
