.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
    background-color: transparent;
}

.container :global(.vtex-button):active {
    background-color: transparent;
}

.profileIcon {
    color: white;
}

.label {
    color: white;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
}

:global(.vtex-login-2-x-profile) {
    color: white;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
}

.contentContainer :global(.vtex-button) {
    min-width: 100%;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
.contentContainer :global(.vtex-button):hover,
.contentContainer :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.contentContainer :global(.vtex-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-login-2-x-accessCodeOptionBtn) :global(.vtex-button) {
    min-width: 100%;
    font-weight: normal;
    font-size: 16px !important;
    text-transform: none;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
}

:global(.vtex-login-2-x-emailPasswordOptionBtn) :global(.vtex-button) {
    min-width: 100%;
    font-weight: normal;
    font-size: 16px !important;
    text-transform: none;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
}

:global(.vtex-login-2-x-sendButton) :global(.vtex-button) {
    border-radius: 2rem;  
}

:global(.vtex-login-2-x-accountOptions) a {
    text-decoration: none !important;
}

:global(.vtex-login-2-x-accountOptions) :global(.vtex-login-2-x-button) {
    min-width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
:global(.vtex-login-2-x-accountOptions) :global(.vtex-login-2-x-button):hover,
:global(.vtex-login-2-x-accountOptions) :global(.vtex-login-2-x-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-login-2-x-accountOptions) :global(.vtex-login-2-x-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-login-2-x-accountOptions) :global(.vtex-button) :global(.vtex-button__label) {
    min-width: 100%;
}

:global(.vtex-login-2-x-optionsListItem) :global(.vtex-login-2-x-facebookOptionBtn) svg path {
    fill: white;
}

:global(.vtex-login-2-x-optionsListItem) :global(.vtex-login-2-x-googleOptionBtn) svg path {
    fill: white !important;
}

:global(.vtex-login-2-x-buttonSocial) :global(.vtex-button) {
    min-width: 100%;
    font-weight: normal;
    font-size: 16px !important;
    text-transform: none;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}