/* .socialNetworkImage {
    background: rgba(255, 255, 255);
} */

:global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    right: -30px;
    color: #fff !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    left: -30px;
    color: #fff !important;
}