.boxContainerFooter :global(.vtex-button) {
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 0.5rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
.boxContainerFooter :global(.vtex-button):hover,
.boxContainerFooter :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.boxContainerFooter :global(.vtex-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) {
    background-color: #5C0F8B;
}

:global(.vtex_my-authentication_box_container) :global(.vtex-button) {
    background-color: #5C0F8B;
}

:global(.vtex-my-account-1-x-boxContainerBody) :global(.flex-column) :global(.flex-wrap) {
    display: none;
}

:global(.vtex-my-account-1-x-boxContainerBody) :global(.flex-column) :global(.vtex-input) {
    display: block;
}

:global(.vtex-my-account-1-x-boxContainerBody) :global(.flex-column) :global(.vtex-input) :global(.vtex-input__label) {
    visibility: hidden;
}

:global(.vtex-my-account-1-x-boxContainerBody) :global(.flex-column) :global(.vtex-input) :global(.vtex-input__label)::after {
    content: "Color favorito";
    visibility: visible;
    float: left;
}

:global(.vtex-my-account-1-x-boxContainerBody) :global(.flex-column) :global(.vtex-input) :global(.vtex-input__error) {
    visibility: hidden;
}

:global(.vtex-my-account-1-x-boxContainerBody) :global(.flex-column) :global(.vtex-input) :global(.vtex-input__error)::after {
    content: "Coloca la palabra yellow en el campo";
    visibility: visible;
    float: left;
}

:global(.vtex-account__create-card) :global(.vtex-button__label) {
    color: #1e9b8b;
}
