.flexRowContent--headerDesktop {  
    height: 85px;
    background-color: #140035;
    background-image: url(https://telmovmx.vtexassets.com/arquivos/ids/156663);
    padding-bottom: 0px;
    text-decoration: none;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.3);
}

:global(.vtex-flex-layout-0-x-flexCol--logo-menu) {
    width: 200px;
}

.flexRowContent--headerDesktopDos {  
    background-color: #140035;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.3);
    padding-left: 65px;
    height: 20px;
}

:global(.vtex-flex-layout-0-x-flexColChild--text-tu-pedido) {
    width: 100px;
}

.flexCol--col-main-mobile {
    background-color: #140035;
    background-image: url(https://telmovmx.vtexassets.com/arquivos/ids/156663);
    padding-bottom: 0px;
    text-decoration: none;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.3);
}

.flexRowContent--myLinks {
    background: rgb(255, 255, 255);
}

.flexColChild--colLeftFooter {
    width: 300px;
}

.flexColChild--colCenterFooter {
    width: 300px;
}

.flexColChild--colRightFooter {
    width: 300px;
}

.flexColChild--colSocialMedia {
    width: 200px;
}

.flexCol--col-footer-desktop {
    background: rgb(255, 255, 255);
}

.flexRowContent--social {
    background: rgb(255, 255, 255);
}

.flexCol--colSocial {
    background: rgb(255, 255, 255);
}

.flexCol--col-footer-mobile {
    padding-top: 20px;
    background: rgb(255, 255, 255);
}

.flexCol--col-links-mobile {
    background: rgb(255, 255, 255);
}

.flexRowContent--payImages {
    background: rgb(255, 255, 255);
}

.flexRowContent--rowSocialNetworks {
    background: rgb(255, 255, 255);
}

.flexRow--rowPaymentMethod {  
    background: rgba(255, 255, 255);
}

.flexRowContent--copyRight {
    background: rgb(255, 255, 255);
}

.flexRowContent--social-networks {
    background: rgb(255, 255, 255);
}

.stretchChildrenWidth {  
    background: rgba(245, 245, 245);
}

.flexCol--colImageOne {  
    background: rgba(255, 255, 255);
}

.flexCol--colImageTwo {  
    background: rgba(255, 255, 255);
}

.flexCol--formMyNewsletterRight {  
    background: #140035;
    height: 90px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-title-newsletter) {
    padding-right: 290px;
}

.flexCol--formMyNewsletterLeft {  
    background: #140035;
    height: 90px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-text-newsletter) {
    padding-right: 340px;
}

.flexCol--col-left-newsletter-form {
    background: #140035;
}

.flexColChild--col-right-newsletter-form {
    background: #140035;
}

.flexColChild--col-newsletter-mobile {
    background: #140035;
}

.flexCol--col-newsletter-mobile {
    background: #140035;
}

.flexCol--mainFooterrClass {  
    background: rgba(255, 255, 255);
}

.flexCol--mainFooterMobile {  
    background: rgba(255, 255, 255);
}

.flexCol--nosotrosClass {  
    background: rgba(255, 255, 255);
}

.flexCol--ayudaClass {  
    background: rgba(255, 255, 255);
}

.flexCol--contactoClass {  
    background: rgba(255, 255, 255);
}

.flexCol--colLeftFooter {  
    background: rgba(255, 255, 255);
}

.flexCol--colCenterFooter {  
    background: rgba(255, 255, 255);
}

.flexCol--colRightFooter {  
    background: rgba(255, 255, 255);
}

.flexCol--colSocialMedia {  
    background: rgba(255, 255, 255);
}

.flexCol--textMinicart {  
    padding-bottom: 0px;
}

.flexColChild--iconMinicart {
    padding-top: 10px;
}

.flexCol--barDesktop {  
    justify-content: center !important;
}

.flexCol--barMobile {  
    width: auto;
}

.flexColChild--formMyNewsletterLeft {
    width: 390px;
}

.flexColChild--col-two-left-pdp :global(.vtex-button) {
    min-width: 100%;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.flexColChild--col-two-left-pdp :global(.vtex-button):hover,
.flexColChild--col-two-left-pdp :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.flexColChild--col-two-left-pdp :global(.vtex-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.flexCol--triggerMegaMenu {  
    background: transparent;
}

.flexCol--leftPDP {  
    background: rgba(255, 255, 255);
}

.flexCol--rightPDP {  
    background: rgba(255, 255, 255);
}

.flexCol--colPaymentMethod {
    background: rgb(255, 255, 255);
    padding-left: 120px;
    padding-right: 120px;
}

.flexColChild--col-one-left-pdp {
    background: rgb(255, 255, 255);
}

.flexColChild--col-two-left-pdp {
    background: rgb(255, 255, 255);
}

.flexCol--col-left-pdp {
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding-left: 90px;
    padding-right: 90px;
}

.flexCol--col-right-pdp {
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.flexCol--col-product-specification {
    background: rgb(255, 255, 255);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.flexCol--col-left-pdp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--myBreadcrumbCol) {
    background: rgba(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexRow--myBreadcrumb) {
    background: rgba(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--productDesCol) {
    background: rgba(255, 255, 255);
}

.flexCol--productSpecCol {
    background: rgb(255, 255, 255);
}

.flexColChild--productSpecificationName {
    font-size: 1rem;
    font-weight: 700;
}

.flexColChild--productSpecificationValue {
    font-size: 1rem;
    font-family: Lato,San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}

.flexRow--productSpecification {
    padding: 15px;
}

.flexRow--productSpecification:nth-child(odd) {
    background: rgb(255, 255, 255);
}

.flexRow--productSpecification:nth-child(odd) :global(.vtex-product-specifications-1-x-specificationName) {
    background: rgb(255, 255, 255);
}

.flexRow--productSpecification:nth-child(odd) :global(.vtex-flex-layout-0-x-flexColChild--productSpecificationValue) {
    background: rgb(255, 255, 255);
}

.flexCol--rightPDP :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255);
}

.flexRowContent--myLinks :global(.vtex-store-link-0-x-link) {
    color: #5C0F8B;
    text-decoration: none;
}

.flexRowContent--myLinks :global(.vtex-store-link-0-x-link):hover,
.flexRowContent--myLinks :global(.vtex-store-link-0-x-link):focus {
    color: #2ED9C3;
}

.flexRowContent--myLinks :global(.vtex-store-link-0-x-link):active {
    color: #2ED9C3;
}

:global(.vtex-flex-layout-0-x-flexCol--productDesCol) {
    padding-left: 150px;
    padding-right: 150px;
}

:global(.vtex-flex-layout-0-x-flexCol--productSpecCol) {
    padding-left: 150px;
    padding-right: 150px;
}

:global(.vtex-flex-layout-0-x-flexCol--col-main-product-specification) {
    padding-left: 50px;
    padding-right: 50px;
}

:global(.vtex-flex-layout-0-x-flexColChild--col-main-pdp) {
    padding-left: 50px;
    padding-right: 50px;
}

:global(.vtex-flex-layout-0-x-flexCol--link-reversso) {
    background: #140035;
    max-width: 120px;
    max-height: 35px;
}

:global(.vtex-rich-text-0-x-container--my-question) {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
}

:global(.vtex-overlay-layout-0-x-container--my-overlay-layout) {
    min-height: 95px;
}

:global(.vtex-flex-layout-0-x-flexRow--row-dropdown-reversso) {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

:global(.vtex-store-link-0-x-link--text-reversso):hover,
:global(.vtex-store-link-0-x-link--text-reversso):focus {
    color: #01b298;
    font-weight: 700;
}

:global(.vtex-store-link-0-x-link--text-reversso) {
    text-decoration: none !important;
    text-transform: none !important;
    color: #5C0F8B;
    font-size: 16px;
    font-weight: 700;
}

:global(.vtex-flex-layout-0-x-flexRow--row-dropdown-devygarantias) {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

:global(.vtex-store-link-0-x-link--text-devygarantias) {
    text-decoration: none !important;
    text-transform: none !important;
    color: #5C0F8B;
    font-size: 16px;
    font-weight: 700;
}

:global(.vtex-store-link-0-x-link--text-devygarantias):hover,
:global(.vtex-store-link-0-x-link--text-devygarantias):focus {
    color: #01b298;
    font-weight: 700;
}

:global(.vtex-flex-layout-0-x-flexCol--image-reversso) {
    background: #140035;
}

:global(.vtex-flex-layout-0-x-flexCol--link-blog) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexColChild--link-blog) :global(.vtex-store-link-0-x-link) {
    text-decoration: none;
    color: #3f3f40;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
}

:global(.vtex-flex-layout-0-x-flexCol--image-blog) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--link-telmicoins) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexColChild--link-telmicoins) :global(.vtex-store-link-0-x-link) {
    text-decoration: none;
    color: #3f3f40;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
}

:global(.vtex-flex-layout-0-x-flexCol--image-telmicoins) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--link-tu-pedido) {
    background: #140035;
}

:global(.vtex-flex-layout-0-x-flexColChild--link-tu-pedido) :global(.vtex-store-link-0-x-link) {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: none;
    font-weight: 500;
}

:global(.vtex-flex-layout-0-x-flexCol--image-tu-pedido) {
    background: #140035;
}

:global(.vtex-flex-layout-0-x-flexCol--link-blog) {
    padding-left: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--row-promesas) {
    padding-left: 180px;
    padding-right: 180px;
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--list-promesas) {
    max-width: 1300px;
}

:global(.vtex-flex-layout-0-x-flexRow--row-promesas) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--list-promesas) :global(.vtex-slider-layout-0-x-slide--visible) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--list-promesas) :global(.vtex-slider-layout-0-x-slideChildrenContainer) {
    max-width: 200px;
}


.flexCol--col-main-banner-uno {
    max-width: 1400px;
    padding-bottom: 0px;
    padding-right: 95px;
    padding-left: 95px;
}
.flexRowContent--row-main-banner-uno {
    background: rgb(255, 255, 255);
}
.flexRowContent--row-main-banner-uno :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255);
}
:global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
    max-width: 596px;
    border-radius: 1rem;
}


.flexRowContent--row-banner-principal {
    background: rgb(255, 255, 255);
}

.flexRowContent--row-banner-principal :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255);
}
:global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
    max-width: 596px;
    border-radius: 1rem;
}

.flexCol--col-banner-principal {
    background: rgb(255, 255, 255);
    max-width: 1400px;
    padding-left: 95px;
    padding-right: 95px;
    padding-bottom: 30px;
    padding-top: 0px;
}

:global(.vtex-flex-layout-0-x-flexCol--col-banner-principal) :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    right: -30px;
}

:global(.vtex-flex-layout-0-x-flexCol--col-banner-principal) :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    left: -30px;
}

.flexRow--row-metodos-pago {
    background: rgb(255, 255, 255);
}

.flexRow--row-metodos-pago :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255);
}

.flexCol--list-metodos-pago {
    background: rgb(255, 255, 255);
    padding-left: 70px;
    padding-right: 70px;
    max-width: 1400px;
    padding-bottom: 10px;
}

.flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
    height: auto;
    max-width: 416px !important;
}

.flexCol--col-main-productos-destacados-banner {
    max-width: 1500px;
}

.flexCol--col-left-productos-destacados-banner :global(.vtex-slider-layout-0-x-imageElement) {
    max-height: 520px !important;
    min-height: 480px !important;
    max-width: 570px;
}

.flexCol--col-right1-productos-destacados :global(.vtex-slider-layout-0-x-imageElement) {
    max-height: 225px !important;
    min-height: 225px !important;
    max-width: 580px;
}

.flexCol--col-right2-productos-destacados :global(.vtex-slider-layout-0-x-imageElement) {
    max-height: 225px !important;
    min-height: 225px !important;
    max-width: 580px;
}

.flexCol--col-notification-bar {
    background-color: #7938a3;
    max-height: 30px;
}

:global(.vtex-rich-text-0-x-wrapper--text-notification-bar) {
    color: white;
    font-weight: 700;
}

.flexCol--colMarcas {
    background: #140035;
}

:global(.vtex-flex-layout-0-x-flexRow--rowMarcas) {
    background: #140035;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarcas) {
    height: 50px;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarcas) :global(.vtex-rich-text-0-x-container) {
    height: 50px;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarcas) :global(.vtex-rich-text-0-x-paragraph) {
    color: white;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarcas) :global(.vtex-slider-layout-0-x-slideChildrenContainer) {
    max-height: 55px;
    border-radius: 15px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.flexCol--colMarketplaces {
    background: #140035;
}

:global(.vtex-flex-layout-0-x-flexRow--rowMarketplaces) {
    background: #140035;
}
.flexRowContent--rowMarketplaces {
    margin-top: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) {
    height: 50px;
}

:global(.vtex-rich-text-0-x-container--textMarketplaces) {
    height: 50px;
}

:global(.vtex-rich-text-0-x-wrapper--textMarketplaces) :global(.vtex-rich-text-0-x-paragraph) {
    color: white;
}

:global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) :global(.vtex-slider-layout-0-x-slideChildrenContainer) {
    max-height: 55px;
    border-radius: 15px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding-bottom: 25px;
}

/* Live Shopping */
:global(.vtex-flex-layout-0-x-flexRowContent--container-live) :global(.vtex-flex-layout-0-x-flexRow--content-product){
    background: rgb(255, 255, 255) !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-live) :global(.vtex-flex-layout-0-x-flexRowContent){
    background: rgb(255, 255, 255) !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-live) :global(.vtex-flex-layout-0-x-flexRowContent--content-product){
    background: rgb(255, 255, 255) !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--container-live) 
:global(.vtex-flex-layout-0-x-flexRowContent--content-product)
:global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgb(255, 255, 255) !important;
}

:global(.vtex-flex-layout-0-x-flexRow--container-live) {
    background: rgb(255, 255, 255) !important;
}

:global(.vtex-flex-layout-0-x-flexRow--container-live) :global(.vtex-store-components-3-x-container) {
    background: rgb(255, 255, 255) !important;
}

/*/------------------------/
//*********MOVIL*********/
/*/------------------------*/
@media (max-width: 1290px) {
    .flexCol--col-main-banner-uno {
        max-width: 1270px;
        padding-right: 70px;
        padding-left: 70px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 550px;
        border-radius: .8rem;
    }
    
    .flexCol--col-banner-principal {
        max-width: 1270px;
        padding-right: 70px;
        padding-left: 70px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 550px;
        border-radius: .8rem;
    }
}

@media (max-width: 1190px) {
    .flexCol--col-main-banner-uno {
        max-width: 1190px;
        padding-right: 70px;
        padding-left: 70px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 500px;
        border-radius: .8rem;
    }
    
    .flexCol--col-banner-principal {
        max-width: 1190px;
        padding-right: 70px;
        padding-left: 70px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 500px;
        border-radius: .8rem;
    }
}

@media (max-width: 1120px){
    .flexColChild--colLeftFooter {
        width: 250px;
    }
    
    .flexColChild--colCenterFooter {
        width: 250px;
    }
    
    .flexColChild--colRightFooter {
        width: 250px;
    }
    
    .flexColChild--colSocialMedia {
        width: 180px;
    }

    .flexCol--col-main-banner-uno {
        max-width: 1120px;
        padding-right: 80px;
        padding-left: 80px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 450px;
        border-radius: .7rem;
    }

    .flexCol--col-banner-principal {
        max-width: 1120px;
        padding-right: 80px;
        padding-left: 80px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 450px;
        border-radius: .7rem;
    }
}
@media (max-width: 1030px){

    .flexCol--barMobile {  
        width: 600px;
    }

    .flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
        height: auto;
        min-width: 350px !important;
        max-width: 350px !important;
    }

    .flexCol--col-main-banner-uno {
        max-width: 1020px;
        padding-right: 80px;
        padding-left: 80px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 420px;
        border-radius: .7rem;
    }

    .flexCol--col-banner-principal {
        max-width: 1020px;
        padding-right: 80px;
        padding-left: 80px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 420px;
        border-radius: .7rem;
    }
}

@media (max-width: 925px) {

    .flexCol--barMobile {  
        width: 500px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--productDesCol) {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    :global(.vtex-flex-layout-0-x-flexCol--productSpecCol) {
        padding-left: 50px;
        padding-right: 50px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-main-product-specification) {
        padding-left: 5px;
        padding-right: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-main-pdp) {
        padding-left: 5px;
        padding-right: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-right-pdp) {
        display: none;
    }

    .flexCol--colPaymentMethod {
        padding-left: 20px;
        padding-right: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--row-promesas) {
        padding-left: 60px;
        padding-right: 60px;
        background: rgb(255, 255, 255);
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--social-networks-mobile) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-facebook) {
        min-width: 50px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-instagram) {
        min-width: 50px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-youtube) {
        min-width: 50px;
    }

    .flexCol--col-left-pdp {
        padding-left: 10px;
        padding-right: 10px;
    }

    .flexColChild--iconMinicartMobile {
        padding-top: 10px;
    }

    .flexCol--colPromoUno {
        padding-right: 30px;
        padding-left: 30px;
    }

    .flexCol--colMarcas {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .flexCol--colMarketplaces {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .flexCol--list-metodos-pago {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
        height: auto;
        min-width: 350px !important;
        max-width: 350px !important;
    }

    .flexCol--col-main-productos-destacados-banner {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    .flexCol--col-left-productos-destacados-banner :global(.vtex-slider-layout-0-x-imageElement) {
        max-height: 240px !important;
        min-height: 240px !important;
    }
    
    .flexCol--col-right1-productos-destacados :global(.vtex-slider-layout-0-x-imageElement) {
        max-height: 150px !important;
        min-height: 150px !important;
    }
    
    .flexCol--col-right2-productos-destacados :global(.vtex-slider-layout-0-x-imageElement) {
        max-height: 150px !important;
        min-height: 150px !important;
    }
    
    /* Nuevos banners */

    .flexCol--col-main-banner-uno {
        max-width: 900px;
        padding-right: 60px;
        padding-left: 60px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 380px;
        border-radius: 1rem;
    }

    .flexCol--col-banner-principal {
        max-width: 900px;
        padding-right: 60px;
        padding-left: 60px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 380px;
        border-radius: 1rem;
    }
}

@media (max-width: 830px) {
    .flexCol--col-main-banner-uno {
        max-width: 830px;
        padding-right: 30px;
        padding-left: 30px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 360px;
        border-radius: .6rem;
    }

    .flexCol--col-banner-principal {
        max-width: 830px;
        padding-right: 30px;
        padding-left: 30px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 360px;
        border-radius: .6rem;
    }
}

@media (max-width: 780px) {
    .flexCol--col-main-banner-uno {
        max-width: 780px;
        padding-right: 30px;
        padding-left: 30px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 340px;
        border-radius: .5rem;
    }

    .flexCol--col-banner-principal {
        max-width: 780px;
        padding-right: 30px;
        padding-left: 30px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 340px;
        border-radius: .5rem;
    }
}

@media (max-width: 750px) {
    .flexCol--col-main-banner-uno {
        max-width: 750px;
        padding-right: 30px;
        padding-left: 30px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 320px;
        border-radius: .5rem;
    }

    .flexCol--col-banner-principal {
        max-width: 750px;
        padding-right: 30px;
        padding-left: 30px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 320px;
        border-radius: .5rem;
    }
}

@media (max-width: 700px) {
    .flexCol--col-main-banner-uno {
        max-width: 700px;
        padding-right: 30px;
        padding-left: 30px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 290px;
        border-radius: .5rem;
    }

    .flexCol--col-banner-principal {
        max-width: 700px;
        padding-right: 30px;
        padding-left: 30px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 290px;
        border-radius: .5rem;
    }
}

@media (max-width: 680px) {
    .flexCol--col-main-banner-uno {
        max-width: 680px;
        padding-right: 30px;
        padding-left: 30px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 280px;
        border-radius: .5rem;
    }

    .flexCol--col-banner-principal {
        max-width: 680px;
        padding-right: 30px;
        padding-left: 30px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 280px;
        border-radius: .5rem;
    }
}

@media (max-width: 630px) {
    /* Nuevos banners */

    .flexCol--col-main-banner-uno {
        max-width: 630px;
        padding-right: 15px;
        padding-left: 15px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 260px;
        border-radius: .4rem;
    }

    .flexCol--col-banner-principal {
        max-width: 630px;
        padding-right: 15px;
        padding-left: 15px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 530px;
        border-radius: .6rem;
    }
}

@media (max-width: 600px){

    .flexCol--barMobile {  
        width: auto;
    }

    :global(.vtex-rich-text-0-x-wrapper--text-notification-bar) {
        color: white;
        font-weight: normal;
        font-size: 12px;
    }

    .flexCol--col-notification-bar {
        max-height: 40px;
    }

    .flexColChild--formMyNewsletterLeft {
        width: 350px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--formMyNewsletterLeft) {
        align-items: center;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--formMyNewsletterLeft) :global(.vtex-store-newsletter-1-x-emailInputContainer) {
        padding-left: 20px !important;
        padding-right: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) :global(.vtex-flex-layout-0-x-flexCol--formMyNewsletterRight) {
        align-items: center;
    }

    .flexColChild--iconMinicartMobile {
        padding-top: 10px;
    }
    
    :global(.vtex-flex-layout-0-x-flexCol--rightPDP) {
        padding-left: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--productDesCol) {
        padding-left: 25px;
        padding-right: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--productSpecCol) {
        padding-left: 25px;
        padding-right: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-main-product-specification) {
        padding-left: 5px;
        padding-right: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-main-pdp) {
        padding-left: 5px;
        padding-right: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-right-pdp) {
        display: none;
    }

    .flexCol--colPaymentMethod {
        padding-left: 20px;
        padding-right: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--row-promesas) {
        padding-left: 60px;
        padding-right: 60px;
        background: rgb(255, 255, 255);
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--social-networks-mobile) {
        display: grid;
        grid-template-columns: repeat(5, 0.5fr);
        grid-gap: 5px;
    }

    .flexCol--col-left-pdp {
        padding-left: 5px;
        padding-right: 5px;
    }

    .flexCol--colPromoUno {
        padding-right: 20px;
        padding-left: 20px;
    }

    .flexCol--colMarcas {
        padding-right: 20px;
        padding-left: 20px;
    }

    .flexCol--colMarketplaces {
        padding-right: 20px;
        padding-left: 20px;
    }

    .flexCol--list-metodos-pago {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
        height: auto;
        min-width: 310px !important;
        max-width: 310px !important;
    }

    .flexCol--col-main-productos-destacados-banner {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .flexCol--col-left-productos-destacados-banner :global(.vtex-slider-layout-0-x-imageElement) {
        max-height: 240px !important;
        min-height: 240px !important;
    }
    
    .flexCol--col-right1-productos-destacados :global(.vtex-slider-layout-0-x-imageElement) {
        max-height: 150px !important;
        min-height: 150px !important;
    }
    
    .flexCol--col-right2-productos-destacados :global(.vtex-slider-layout-0-x-imageElement) {
        max-height: 150px !important;
        min-height: 150px !important;
    }

    .flexCol--colMarcas {
        padding-right: 10px;
        padding-left: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--colMarcas) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 20px;
    }

    .flexCol--colMarketplaces {
        padding-right: 10px;
        padding-left: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 20px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--colPromoUno) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-main-productos-destacados-banner) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--colPromoDos) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexCol--colPromoTres) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 25px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-tiktok) :global(.vtex-store-components-3-x-imageElement) {
        min-width: 35px;
        min-height: 35px;
    }

    /* Nuevos banners */

    .flexCol--col-main-banner-uno {
        max-width: 600px;
        padding-right: 15px;
        padding-left: 15px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 250px;
        border-radius: .4rem;
    }

    .flexCol--col-banner-principal {
        max-width: 600px;
        padding-right: 15px;
        padding-left: 15px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 515px;
        border-radius: .6rem;
    }

    :global(.vtex-flex-layout-0-x-flexCol--col-my-add-button) {
        height: 45px;
    }

    :global(.vtex-flex-layout-0-x-flexRow--row-my-add-button) {
        background-color: transparent;
        position: fixed;
        z-index: 3;
        bottom: 0px;
        width: 90%;
    }
}

@media (max-width: 420px) {

    .flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
        height: auto;
        min-width: 375px !important;
        max-width: 375px !important;
    }

    .flexCol--colMarcas {
        padding-right: 5px;
        padding-left: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--colMarcas) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 16px;
    }

    .flexCol--colMarketplaces {
        padding-right: 5px;
        padding-left: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 16px;
    }

    /* Nuevos banners */

    .flexCol--col-main-banner-uno {
        max-width: 400px;
        padding-right: 10px;
        padding-left: 10px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 180px;
        min-height: 30px;
        border-radius: .4rem;
    }

    .flexCol--col-banner-principal {
        max-width: 400px;
        padding-right: 10px;
        padding-left: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 370px;
        border-radius: .4rem;
    }
}

@media (max-width: 395px) {

    .flexCol--col-right-mini-banner {
        display: none;
    }

    .flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
        height: auto;
        min-width: 320px !important;
        max-width: 320px !important;
    }

    :global(.vtex-rich-text-0-x-wrapper--text-notification-bar) {
        font-size: 10px;
    }

    .flexColChild--formMyNewsletterLeft {
        width: 320px;
    }

    .flexCol--colMarcas {
        padding-right: 5px;
        padding-left: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--colMarcas) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 16px;
    }

    .flexCol--colMarketplaces {
        padding-right: 5px;
        padding-left: 5px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--colMarketplaces) :global(.vtex-rich-text-0-x-paragraph) {
        font-size: 16px;
    }

    /* Nuevos banners */

    .flexCol--col-main-banner-uno {
        max-width: 375px;
        padding-right: 10px;
        padding-left: 10px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 170px;
        min-height: 30px;
        border-radius: .4rem;
    }

    .flexCol--col-banner-principal {
        max-width: 375px;
        padding-right: 10px;
        padding-left: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 350px;
        border-radius: .4rem;
    }
}

@media (max-width: 390px){
    .flexCol--col-main-banner-uno {
        max-width: 380px;
        padding-right: 13px;
        padding-left: 13px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 167px;
        min-height: 32px;
        border-radius: .4rem;
    }

    .flexCol--col-banner-principal {
        max-width: 380px;
        padding-right: 13px;
        padding-left: 13px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 347px;
        border-radius: .4rem;
    }
}

@media (max-width: 376px){
    .flexCol--col-main-banner-uno {
        max-width: 370px;
        padding-right: 10px;
        padding-left: 10px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 165px;
        min-height: 30px;
        border-radius: .4rem;
    }

    .flexCol--col-banner-principal {
        max-width: 370px;
        padding-right: 10px;
        padding-left: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 340px;
        border-radius: .4rem;
    }
}

@media (max-width: 290px) {

    .flexColChild--formMyNewsletterLeft {
        width: 270px;
    }

    .flexCol--list-metodos-pago :global(.vtex-slider-layout-0-x-imageElement) {
        height: auto;
        min-width: 245px !important;
        max-width: 245px !important;
    }

    :global(.vtex-flex-layout-0-x-flexCol--iconMinicartMobile) {
        max-width: 95px;
    }

    :global(.vtex-login-2-x-buttonLink) :global(.vtex-button) {
        max-width: 40px;
    }

    /* Nuevos banners */

    .flexCol--col-main-banner-uno {
        max-width: 280px;
        padding-right: 10px;
        padding-left: 10px;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--col-main-banner-uno) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 120px;
        min-height: 25px;
        border-radius: .3rem;
    }

    .flexCol--col-banner-principal {
        max-width: 280px;
        padding-right: 10px;
        padding-left: 10px;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-banner-principal) :global(.vtex-slider-layout-0-x-imageElement) {
        max-width: 250px;
        border-radius: .3rem;
    }
}