.submenuList {  
    height: 500px;
    width: 60%;
    background: rgba(255, 255, 255);
}

.departmentLink {
    cursor: pointer !important;
    pointer-events: none;
}

.section--department {
    background: rgba(255, 255, 255);
}

.itemContainer--category {
    width: 20%;
    background: transparent;
}

.itemContainer--department :global(.vtex-category-menu-2-x-departmentLink) {
    font-size: 18px;
    color: #5C0F8B;
    font-weight: bold;
}