.groupName {
    font-size: 1.25rem;
    font-family: Lato,San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    padding: 15px;
    background: rgb(234, 234, 234);
}
