.menuContainerNav {
    background: transparent;
    padding-top: 3px;
    padding-left: 65px;
    border-bottom: transparent;
}

.menuContainer {
    background: rgb(255, 255, 255);
}

.submenuContainer {
    background: rgb(255, 255, 255);
}

.triggerContainer {
    color: #5C0F8B;
    background: #2ED9C3;
    width: 150px;
    height: 40px;
    border-radius: 0.5rem;
}

.triggerContainer::before {
    font-size: 17px;
    color: #5C0F8B;
    content: "Categorías ";
}

.triggerButtonIcon {
    padding-left: 10px;
}