.paragraph--msiOptions {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}

.container--title-newsletter {  
    background-color: #140035;
    color: #2ED9C3;
    height: 100px;
}

.container--titletext {  
    background: rgba(255, 255, 255);
    height: 70px;
}

:global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
    font-weight: 700;
}

.container--subtitletext { 
    background-color: #140035; 
    color: white;
    height: 62px;
}

.wrapper--textSiguenos {  
    background: rgba(255, 255, 255);
}

.container--textPol {  
    font-weight: 700;
    font-size: 18px;
    color: #5C0F8B;
}

.container--textNosotros {  
    font-weight: 700;
    font-size: 18px;
    color: #5C0F8B;
}

.container--textInfo {  
    font-weight: 700;
    font-size: 18px;
    color: #5C0F8B;
}

.container--textSiguenos {  
    font-weight: 700;
    font-size: 18px;
    color: #5C0F8B;
}

.container--textCopy {
    color: #5C0F8B;
}

/*/------------------------/
//*********MOVIL*********/
/*/------------------------*/
@media (max-width: 1441px) {
    :global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
        font-size: 35px;
        text-align: center;
    }

}

@media (max-width: 1245px) {
    :global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
        font-size: 28px;
        text-align: center;
        padding-left: 50px;
    }

    :global(.vtex-rich-text-0-x-paragraph--subtitletext) {
        font-size: 18px;
        text-align: center;
        padding-left: 90px;
    }
    :global(.vtex-flex-layout-0-x-flexRowContent--formMyNewsletter) :global(.vtex-store-newsletter-1-x-emailInputContainer) {
        padding-left: 100px;
    }
}

@media (max-width: 1050px) {
    :global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
        font-size: 25px;
        text-align: center;
        padding-left: 50px;
    }

    :global(.vtex-rich-text-0-x-paragraph--subtitletext) {
        font-size: 16px;
        text-align: center;
        padding-left: 40px;
    }
    :global(.vtex-flex-layout-0-x-flexRowContent--formMyNewsletter) :global(.vtex-store-newsletter-1-x-emailInputContainer) {
        padding-left: 50px;
    }
}

@media (max-width: 915px) {
    :global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
        font-size: 28px;
        text-align: center;
        padding-left: 50px;
    }

    :global(.vtex-rich-text-0-x-paragraph--subtitletext) {
        font-size: 18px;
        text-align: center;
        padding-left: 40px;
    }
    :global(.vtex-flex-layout-0-x-flexRowContent--formMyNewsletter) :global(.vtex-store-newsletter-1-x-emailInputContainer) {
        padding-left: 50px;
    }
}

@media (max-width: 600px) {
    :global(.vtex-rich-text-0-x-paragraph--title-newsletter) {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding-left: 30px;
    }
    
    :global(.vtex-rich-text-0-x-paragraph--subtitletext) {
        font-size: 17px;
        font-weight: normal;
        text-align: center;
        padding-left: 30px;
    }
}