/* .logoImage {
    width: 195px;
    height: auto;
} */

.searchBarContainer {
    width: auto;
}

.searchBarIcon--search {
    background-color: #2ED9C3;
    color: #5C0F8B;
    border-radius: 2rem;
    width: 45px;
    padding-left: 15px;
}

.resultsList--mySearchBar {
    background: rgba(255, 255, 255);
    border-radius: 1rem;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
    border-radius: 2rem;
    padding-right: 0px;
    border: 1px solid #5C0F8B;
}

.autoCompleteOuterContainer :global(.vtex-input__suffix) {
    padding-right: 0px;
}

.skuSelectorContainer {
    background: rgba(255, 255, 255);
}

/* .skuSelectorOptionsList {
    justify-content: center;
} */

.discountInsideContainer {
    border-radius: .5rem;
    font-weight: 600;
}

.sellingPriceLabel {
    display: none;
}

.listPriceLabel {
    display: none;
}

:global(.vtex-store-components-3-x-productNameContainer) {
    font-size: 1.5rem;
    color: #3f3f40;
    font-weight: 700;
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexColChild--colSocialMedia) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    max-width: 20% !important;
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--col-facebook) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--col-instagram) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--col-tiktok) {
    background: rgb(255, 255, 255);
}

:global(.vtex-flex-layout-0-x-flexCol--col-youtube) {
    background: rgb(255, 255, 255);
}

.shippingContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    align-items: center;
}

:global(.vtex-address-form__postalCode) {
    padding-bottom: 0rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--col-shipping-simulator) :global(.vtex-button) {
    min-height: 40px;
}

:global(.vtex-flex-layout-0-x-flexColChild--col-shipping-simulator) :global(.vtex-store-components-3-x-shippingTableRadioBtn) {
    display: none;
}

:global(.vtex-store-components-3-x-showMoreButton) {
    background-color: #5C0F8B;
    border-radius: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-left-pdp) :global(.vtex-numeric-stepper__plus-button__text) {
    color: black;
}

@media (max-width: 600px) {
    .logoLink {
        max-width: 25% !important;
    }

    /* .shippingContainer {
        display: block;
        align-items: center;
    } */

    :global(.vtex-flex-layout-0-x-flexRowContent--row-shipping-simulator) :global(.vtex-button__label) {
        font-size: 14px !important;
    }

    :global(.vtex-address-form__postalCode-forgottenURL) {
        font-size: 10px !important;
    }
}

@media (max-width: 365px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--row-shipping-simulator) :global(.vtex-button__label) {
        font-size: 12px !important;
    }

    :global(.vtex-address-form__postalCode-forgottenURL) {
        font-size: 9px !important;
    }
}