.element {
    background: rgba(255, 255, 255);
    padding-left: 10px;
    padding-right: 10px;
}

.element--myToCartAddButton :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
    justify-content: center;
}

.element--my-summary-search :global(.vtex-store-components-3-x-skuSelectorOptionsList) {
    justify-content: center;
}

:global(.vtex-product-summary-2-x-priceContainer) {
    height: 80px;
}

.skuSelectorContainer {
    min-height: 120px;
}

/* .element--myToCartAddButton :global(.vtex-button) {
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
.element--myToCartAddButton :global(.vtex-button):hover,
.element--myToCartAddButton :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.element--myToCartAddButton :global(.vtex-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
} */

/* .priceContainer {
    padding: 0px;
} */

.priceContainer .sellingPrice {
    font-size: 1.5rem;
    color: #ff0000;
    font-weight: 700;
}

.nameContainer {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.productNameContainer {
    width: 100%;
    height: 60px;
    /* text-align: start; */
}

.nameContainer .brandName {
    font-weight: 600;
    font-size: 18px;
    color: #2e2e2e;
    padding: 0px;
}

.buyButtonContainer {
    background: rgba(255, 255, 255);
    padding-left: 15px;
    padding-right: 15px;
}

.buyButton :global(.vtex-button__label) {
    min-width: 100%;
}

.buyButtonContainer :global(.vtex-button) {
    min-width: 100%;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
.buyButtonContainer :global(.vtex-button):hover,
.buyButtonContainer :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.buyButtonContainer :global(.vtex-button):active {
    color: #6c2598;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.buyButtonContainer :global(.vtex-button__label)::after {
    content: "VER PRODUCTO";
}

:global(.vtex-product-summary-2-x-buyButtonText) {
    display: none;
}

:global(.vtex-shelf-1-x-slide--related-products) {
    min-width: 250px;
}

:global(.vtex-product-summary-2-x-element--summaryWishlist) :global(.vtex-flex-layout-0-x-flexRow--buttonWishlist) :global(.vtex-button) {
    min-width: 100%;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
:global(.vtex-product-summary-2-x-element--summaryWishlist) :global(.vtex-flex-layout-0-x-flexRow--buttonWishlist) :global(.vtex-button):hover,
:global(.vtex-product-summary-2-x-element--summaryWishlist) :global(.vtex-flex-layout-0-x-flexRow--buttonWishlist) :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-product-summary-2-x-element--summaryWishlist) :global(.vtex-flex-layout-0-x-flexRow--buttonWishlist) :global(.vtex-button):active {
    color: #6c2598;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}