.newsletterForm {  
    background: #140035;
}

:global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button) {
    /* min-width: 100%; */
    color: #140035 !important;
    background-color: #2ED9C3 !important;
    border: 2px solid #2ED9C3 !important;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

:global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button):hover,
:global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button):focus {
    color: #140035 !important;
    background-color: #29b8a5 !important;
    border: 2px solid #29b8a5 !important;
    font-size: 17px; 
}

:global(.vtex-store-newsletter-1-x-formSubmitContainer) :global(.vtex-button):active {
    color: #140035 !important;
    background-color: #29b8a5 !important;
    border: 2px solid #29b8a5 !important;
    font-size: 17px; 
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-newsletter-mobile) {
    display: none;
}

.formSubmitContainer {
    background: #140035;
}

:global(.vtex-store-newsletter-1-x-defaultSuccessMessage) {
    padding-left: 41%;
    font-size: 25px;
    font-weight: 500;
    color: #5C0F8B;
}

/* :global(.vtex-flex-layout-0-x-flexRow--row-newsletter-form) {
    background-color: #140035;
    background-image: url(https://telmovmx.vtexassets.com/arquivos/ids/156663);
} */

/*/------------------------/
//*********MOVIL*********/
/*/------------------------*/
@media (max-width: 1030px) {
    :global(.vtex-flex-layout-0-x-flexRow--row-newsletter-form) {
        display: none;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--row-newsletter-mobile) {
        display: block;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--row-title-newsletter) {
        padding-right: 40px;
    }
    
    :global(.vtex-flex-layout-0-x-flexRowContent--row-text-newsletter) {
        padding-right: 40px;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--formMyNewsletter-mobile) {
        padding-left: 13%;
    }

    :global(.vtex-flex-layout-0-x-flexColChild--col-newsletter-mobile) :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) {
        padding-left: 250px;
    }

}

@media (max-width: 915px) {
    :global(.vtex-flex-layout-0-x-flexColChild--col-newsletter-mobile) :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) {
        padding-left: 220px;
    }
}

@media (max-width: 780px) {
    :global(.vtex-flex-layout-0-x-flexColChild--col-newsletter-mobile) :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) {
        padding-left: 170px;
    }
}

@media (max-width: 725px) {
    :global(.vtex-flex-layout-0-x-flexColChild--col-newsletter-mobile) :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) {
        padding-left: 90px;
    }
}

@media (max-width: 600px) {
    :global(.vtex-flex-layout-0-x-flexColChild--col-newsletter-mobile) :global(.vtex-flex-layout-0-x-flexRow--formMyNewsletter) {
        padding-left: 0px;
    }
}