/* .drawerContent {
    background-color: white;
} */

.openIconContainer {
    width: 120px;
    padding-left: 0px;
    padding-top: 0px;
}

.openIconContainer::after {
    font-size: 16px;
    font-weight: 500;
    color: white;
    content: "Carrito ";
}

.openIconContainer:hover,
.openIconContainer:focus {
    color: #5C0F8B;
}

.openIconContainer:active {
    color: #5C0F8B;
}

.openIconContainer :global(.vtex-button):hover,
.openIconContainer :global(.vtex-button):focus {
    background-color: transparent;
}

.openIconContainer :global(.vtex-button):active {
    background-color: transparent;
}

.cartIcon {
    color: white;
}

.minicartCheckoutButton :global(.vtex-button) {
    min-width: 100%;
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}
  
.minicartCheckoutButton :global(.vtex-button):hover,
.minicartCheckoutButton :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.minicartCheckoutButton :global(.vtex-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-minicart-2-x-closeIconContainer) {
    background: rgba(255, 255, 255);
}

:global(.vtex-minicart-2-x-minicartContentContainer) {
    background: rgba(255, 255, 255);
}

:global(.vtex-minicart-2-x-drawerContent) {
    background: rgba(255, 255, 255) !important;
}

:global(.vtex-minicart-2-x-minicartEmptyStateContainer) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgba(255, 255, 255) !important;
}

:global(.vtex-minicart-2-x-minicartTitle) {
    background: rgba(255, 255, 255) !important;
}

:global(.vtex-minicart-2-x-minicartProductListContainer) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    background: rgba(255, 255, 255);
}

:global(.vtex-minicart-2-x-minicartSummary) {
    background: rgba(255, 255, 255) !important;
}

:global(.vtex-flex-layout-0-x-flexRow--minicart-footer) :global(.vtex-flex-layout-0-x-flexColChild) {
    background: rgba(255, 255, 255) !important;
}

.minicartCheckoutButton :global(.vtex-button)::before {
    width: 100%;
    content: "TERMINA TU COMPRA";
}

.minicartCheckoutButton :global(.vtex-button__label) {
    display: none;
}

:global(.vtex-minicart-2-x-overlay--visible) {
    background: #cfcdd0;
}

:global(.vtex-store-drawer-0-x-overlay--visible) {
    background: #cfcdd0;
}

/* :global(.vtex-toast-container)::before {
    content: "Agregaste tu producto al carrito";
    background: #5C0F8B !important;
    color: white;
    padding: 20px;
    border-radius: 0.5rem;
    font-weight: 500;
}

:global(.vtex-toast) {
    display: none;
} */