/*/------------------------/
//*********MOVIL*********/
/*/------------------------*/
@media (max-width: 1030px) {
    .openIconContainer {
        padding: 15px;
        color: #5C0F8B;
        background: #2ED9C3;
        border-radius: 0.5rem;
        height: 80%;
        align-items: center;
    }
}