.container {
    padding-left: 45px;
}

:global(.vtex-search-result-3-x-searchResultContainer--mysearchMobile) :global(.vtex-breadcrumb-1-x-container) {
    padding-left: 0px;
}

@media (max-width: 600px) {
    :global(.vtex-flex-layout-0-x-flexRow--row-breadcrumb) :global(.vtex-breadcrumb-1-x-container) {
        padding-left: 5px;
    }
}