.productSelectorContainer {
    background: rgb(255, 255, 255);
}

.closeButtonContainer {
    background: rgb(255, 255, 255);
}

:global(.vtex-product-summary-2-x-element--my-summary-search) :global(.vtex-checkbox__label) {
    color: #aeadad;
}

:global(.vtex-product-summary-2-x-element--my-summary-search) :global(.vtex-checkbox__label)::after {
    color: #aeadad;
    content: " con otros modelos";
}

:global(.vtex-flex-layout-0-x-flexRowContent--myComparisonBlock) :global(.vtex-checkbox__label) {
    color: #3f3f40;
}

:global(.vtex-flex-layout-0-x-flexRowContent--myComparisonBlock) :global(.vtex-checkbox__label)::after {
    color: #3f3f40;
    content: " con otros modelos";
}

@media (max-width: 915px) {
    :global(.vtex-product-comparison-0-x-productSummaryRowContainer) :global(.vtex-product-comparison-0-x-fieldNameCol) {
        display: none;
    }
}