:global(.vtex-wish-list-1-x-wishlistIconContainer) :global(.vtex-button) {
    margin-right: auto;
    display: block;
} 

.wishlistIconContainer :global(.vtex-button):hover,
.wishlistIconContainer :global(.vtex-button):focus {
    background-color: transparent;
}

.wishlistIconContainer :global(.vtex-button):active {
    background-color: transparent;
}

/* :global(.vtex-wish-list-1-x-wishlistIcon) {
    outline-width: 4px;
} */