/* .label--textLinkPF {
    color: #5C0F8B !important;
    text-decoration: none !important
}

.label--textLinkRP {
    color: #5C0F8B !important;
    text-decoration: none !important;
} */

/* .label--textLinkPF :global(.vtex-store-link-0-x-link) {
    color: #5C0F8B !important;
    text-decoration: none !important;
} */

