.jsFocusVisible :global(.vtex-reviews-and-ratings-3-x-writeReviewButton) {
    color: #5C0F8B !important;
}

.jsFocusVisible :global(.vtex-reviews-and-ratings-3-x-writeReviewButton):hover,
.jsFocusVisible :global(.vtex-reviews-and-ratings-3-x-writeReviewButton):focus {
    color: #2ED9C3 !important;
}

.jsFocusVisible :global(.vtex-reviews-and-ratings-3-x-writeReviewButton):active {
    color: #2ED9C3 !important;
}

.jsFocusVisible :global(.vtex__icon-caret-down) {
    color: #3f3f40 !important;
}

.jsFocusVisible :global(.vtex__icon-caret-up) {
    color: #3f3f40 !important;
}

:global(.vtex-reviews-and-ratings-3-x-star--empty) {
    color: #5C0F8B !important;
}

:global(.vtex-reviews-and-ratings-3-x-star--filled) {
    color: #5C0F8B !important;
}

.jsFocusVisible :global(.vtex-button) {
    /* min-width: 100%; */
    color: white;
    background-color: #5C0F8B;
    border: 2px solid #5C0F8B;
    border-radius: 2rem;
    font-size: 17px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.jsFocusVisible :global(.vtex-button):hover,
.jsFocusVisible :global(.vtex-button):focus {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

.jsFocusVisible :global(.vtex-button):active {
    color: #5C0F8B;
    background-color: #2ED9C3;
    border: 2px solid #2ED9C3;
    font-size: 17px; 
}

:global(.vtex-reviews-and-ratings-3-x-reviewsOrderBy) :global(.vtex-dropdown__arrow) {
    color: #3f3f40 !important;
}

:global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) :global(.vtex-reviews-and-ratings-3-x-loginLink) {
    color: #5C0F8B;
}