.galleryItem {
    max-width: 33% !important;
    flex-basis: 33% !important;
}

:global(.vtex-search-result-3-x-galleryTitle--layout) {
    color: #5C0F8B;
}

:global(.vtex-search-result-3-x-filter__container--category-2) {
    display: none;
}

:global(.vtex-search-result-3-x-filter__container--title) {
    display: none;
}

/*/------------------------/
//*********MOVIL*********/
/*/------------------------*/
@media (max-width: 915px) {
    .galleryItem {
        max-width: 50% !important;
        flex-basis: 50% !important;
    }

    :global(.vtex-search-result-3-x-galleryTitle--layout) {
        font-size: 1.8rem;
    }
}

@media (max-width: 550px) {
    .galleryItem {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}