<header class="main-header">
    <div class="header-container">
        <figure class="header-logo">
            <a href="/" title="Telmov">
                <img src="https://telmovil.mx/logo-telmov/logotelmov1.svg" alt="Telmov"/>
            </a>
        </figure>
        <div class="header-secure">
            <a href="/" title="add more products" class="buy-more-link link">Continuar comprando</a>
        </div>
    </div>
</header>