.header-logo {
    width: 200px;
}

.header-container {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
}

/* inicio contenido aplazo */
.box-payment-group2.box-payment-option.aplazoPaymentGroup {
    background-color: white;
    background-image: url("/arquivos/aplazo_desk.jpg");
    background-position: 50% 0;
    background-size: 100% auto;
    min-height: 450px;
    background-repeat: no-repeat;
}
.box-payment-group2.box-payment-option.aplazoPaymentGroup p,
.box-payment-group2.box-payment-option.aplazoPaymentGroup ul,
.box-payment-group2.box-payment-option.aplazoPaymentGroup img {
  display: none !important;
}
.box-payment-group2.box-payment-option.aplazoPaymentGroup {
  background-image: url("/arquivos/aplazo_desk.jpg");
}
@media all and (min-width: 768px) and (max-width: 979px) {
    .box-payment-group2.box-payment-option.aplazoPaymentGroup {
    min-height: 460px;
} }
@media all and (max-width: 767px) {
  .box-payment-group2.box-payment-option.aplazoPaymentGroup {
    background-image: url("/arquivos/aplazo_mobile.jpg");
    min-height: 335px;
  }
}
#payment-group-aplazoPaymentGroup .payment-group-item-text {
  background-image: url("/arquivos/logo_aplazo_payment_desk.png");
}
/* fin contenido aplazo */